.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  padding: 0;
  background: #ffffff9c;
  width: 100%;
  position: absolute;
  /* top: 88%; */
}

.navbar-collapse {
  justify-content: center;
}

.navbar-nav,
.nav-item {
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav,
.nav-link {
  color: #3a833d;
  font-size: 16px;
  font-weight: 600;
  padding-left: 70px;
}
.navbar-nav,
.nav-link:hover {
  color: #3a833d;
  font-size: 16px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #3a833d;
}

.Contact {
  background: #3a8339;
  border-radius: 60px;
  color: #fff;
  border: 2px solid #ffff00;
}

.contact-link {
  color: #fff;
}
.contact-link:hover {
  color: #fff;
}

.faq-heading {
  padding-top: 10%;
  padding-bottom: 5%;
  background: #02a647;
  border-radius: 0px 0px 30px 30px;
  color: #fff;
  position: relative;
}

.whitefield {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 30px;
}
.mudra-img {
  width: 25%;
}

.number-send {
  width: 100%;
  margin: 0;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.view {
  background: #d1e3e3;
  padding: 50px;
  border-radius: 20px 0px 0px 20px;
}

.viewlink {
  color: #0f6459;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  padding: 5px;
  background: #d1e3e3;
  outline: none;
  border: none;
  cursor: pointer;
}

.viewlink:hover {
  text-decoration: none;
}

.send {
  background: linear-gradient(
    90deg,
    rgba(0, 158, 160, 1) 19%,
    rgba(7, 132, 131, 1) 61%
  );
  padding: 35px;
  border-radius: 10px;
}

.send-no {
  width: 75%;
  border-radius: 30px;
  border: 3px solid #a3ef3e;
  padding: 5px 15px;
  font-size: 18px;
}

.send-btn {
  color: #3c9130;
  background: #a3ef3e;
  border: 1px solid #fff;
  font-size: 16px;
  padding: 10px;
  border-radius: 30px;
  width: 22%;
  font-weight: 600;
}

.whatsapp {
  width: 50px;
  height: 50px;
}

.bro {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.wh {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
