.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  padding: 0;
  background: #fff;
  width: 100%;
  position: absolute;
  /* top: 88%; */
}

.navbar-collapse {
  justify-content: center;
}

.navbar-nav,
.nav-item {
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav,
.nav-link {
  color: #3a833d;
  font-size: 16px;
  font-weight: 600;
  padding-left: 70px;
}
.navbar-nav,
.nav-link:hover {
  color: #3a833d;
  font-size: 16px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #3a833d;
}

.Contact {
    background: #3a8339;
    border-radius: 60px;
    color: #fff;
    border: 2px solid #ffff00;
  }
  
  .contact-link {
    color: #fff;
  }
  .contact-link:hover {
    color: #fff;
  }

.contact1 {
  background-image: url(/images/building.jpg);
  background-color: #cccccc;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}
.contact2 {
  background-color: #0b1c4c;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.cardmain1 {
  position: absolute;
  bottom: 80%;
  left: 17%;
}
.cardmain2 {
  position: absolute;
  bottom: 80%;
  right: 3%;
}
.cardmain3 {
  position: absolute;
  bottom: 230px;
  right: 342px;
  scale: 1.25;
}
.contact-card {
  max-width: 75%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: #fff;
  background-color: #072968;
}
.contact-card2 {
  max-width: 75%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: #fff;
  background-color: #072968;
}

.contact-card3 {
  max-width: 75%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: #fff;
  background-color: #072968;
}
.contact-heading {
  font-size: 14px;
  text-align: left;
  padding-left: 30px;
  margin: auto;
}
.contact-heading2 {
  font-size: 14px;
  text-align: left;
  padding-left: 30px;
  font-weight: 700;
  margin: auto;
}
.addressmain {
  font-size: 14px;
  text-align: left;
  padding-left: 30px;
  margin: auto;
}
.contact-map {
  font-size: 10px;
  text-align: left;
  padding-left: 30px;
  margin: auto;
}
.contact-telmail {
  font: 12px;
  text-align: left;
  padding-left: 30px;
  color: #ccb880;
  margin: auto;
}
.contact-telmail{
    font: 12px;
    text-align: left;
    padding-left: 30px;
    color: #CCB880;
    margin: auto;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.contactname{
    border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}  
