@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

@font-face {
  font-family: "fedra-sans";
  src: url("fedra-sans-book_nANwg/Fedra\ Sans\ Book/");
}
body {
  font-family: "fedra-sans";
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  padding: 0;
  background: #fff;
  width: 100%;
  position: absolute;
  /* top: 88%; */
}

.navbar-collapse {
  justify-content: center;
}

.navbar-nav,
.nav-item {
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav,
.nav-link {
  color: #3a833d;
  font-size: 16px;
  font-weight: 600;
  padding-left: 70px;
}
.navbar-nav,
.nav-link:hover {
  color: #3a833d;
  font-size: 16px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #3a833d;
}

.Contact {
  background: #3a8339;
  border-radius: 60px;
  color: #fff;
  border: 2px solid #ffff00;
}

.contact-link {
  color: #fff;
}
.contact-link:hover {
  color: #fff;
}

.container-fluid {
  position: relative;
}

.contact1 {
  background-image: url(/images/building.jpg);
  /* background-color: #cccccc; */
  height: 50vh;
  width: 100%;
  background-position: center;

  background-size: cover;
  /* opacity: 0.2; */
  margin: 0;
  padding: 0;
}

.container-fluid::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  opacity: 0.8;
}

.contact2 {
  width: 100%;
  background-color: #0b1c4c;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  position: relative;
  margin: 0;
}
.cardmain1 {
  position: absolute;
  bottom: -15%;
  left: 15%;
  z-index: 1;
}
.cardmain2 {
  position: absolute;
  bottom: -15%;
  right: 7%;
  z-index: 1;
}
.cardmain3 {
  position: absolute;
  bottom: -50px;
  right: 373px;
  scale: 1.16;
  z-index: 1;
}
.contact-card {
  max-width: 75%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: #fff;
  background-color: #072968;
}
.contact-card2 {
  max-width: 75%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: #fff;
  background-color: #072968;
}

.contact-card3 {
  max-width: 75%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: #fff;
  background-color: #072968;
}
.contact-heading {
  font-size: 16px;
  text-align: left;
  padding-left: 30px;
  margin: auto;
  font-weight: 600;
  font-family: "poppins";
}
.contact-heading2 {
  font-size: 16px;
  text-align: left;
  padding-left: 30px;
  font-weight: 700;
  margin: auto;
  font-family: "poppins";
}
.addressmain {
  font-size: 14px;
  text-align: left;
  padding-left: 30px;
  margin: auto;
  font-family: "poppins";
}
.contact-map {
  font-size: 10px;
  text-align: left;
  padding-right: 50%;
  margin: auto;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.contact-map::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background: #C7C5A9;
  bottom: -4px;
}

.contact-map:hover {
  text-decoration: none;
  color: #fff;
}

.contact-telmail {
  font-size: 12px;
  text-align: left;
  padding-left: 30px;
  color: #ccb880;
  margin: auto;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
}

.social-link {
  margin: 0 3px;
  color: #fff;
  text-decoration: none;
}

.social-link:hover {
  text-decoration: none;
}

.get {
  width: 100%;
  text-align: center;
  color: yellow;
  position: absolute;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 900;
}
.contact-telmail {
  font: 12px;
  text-align: left;
  padding-left: 30px;
  color: #ccb880;
  margin: auto;
}

/* input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

.contactname {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact-input {
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: start;
  padding: 8px 170px;
  width: 100%;
}

.contact-in {
  width: 100%;
  padding: 5px 10px;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  color: #7f7f7f;
}

.contact-label {
  color: #fff;
  font-size: 12px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-submit {
  background: #0079ff;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 30px;
  padding: 10px 15px;
  border: none;
  outline: none;
}

.submit-contact {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100000; /* Stay on top */
  top: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
  color: #000;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 50%;
  left: -73px;
  font-size: 36px;
  margin-left: 50px;
  background: #000;
  border-radius: 0px 35px 35px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 0px solid #fff;
  border-bottom: 20px solid transparent;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
.sidenav {
  right: 0;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.sidenav {
  right: 0;
}

.fa-angle-right {
  color: #fff;
  font-size: 22px;
  font-weight: 800;
}
.fa-angle-right:hover {
  transition: 1s;
  transform: rotate(180deg);
}

.form {
  margin: 30px;
}

.enquiry-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.enquiry-head {
  color: #113904;
  font-size: 18px;
  font-weight: 600;
  font-family: "poppins";
}

.enquiry-content {
  color: #298e0e;
  font-size: 12px;
  font-family: "poppins";
}

.eq-label {
  color: #113904;
  font-size: 14px;
  font-family: "poppins";
  font-weight: 600;
}

.eq-input {
  background-color: #dddddd;
  border-radius: 50px;
  padding: 5px 10px;
  border: none;
}

.eq-textarea {
  background-color: #dddddd;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
}

.eq-input:focus-visible {
  border: none;
  outline: none;
}

.eq-submit {
  background-color: #1e8800;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
  border: none;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.eq-submit:focus-visible {
  border: none;
}

.form-item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 10px;
}
