.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  padding: 0;
  background: #ffffff9c;
  width: 100%;
  position: absolute;
  /* top: 88%; */
}

.navbar-collapse {
  justify-content: center;
}

.navbar-nav,
.nav-item {
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav,
.nav-link {
  color: #3a833d;
  font-size: 16px;
  font-weight: 600;
  padding-left: 70px;
}
.navbar-nav,
.nav-link:hover {
  color: #3a833d;
  font-size: 16px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #3a833d;
}

.faq-heading {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #02a647;
  border-radius: 0px 0px 30px 30px;
  color: #fff;
}

.heading {
  padding: 10px 60px;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ff008b;
} */
/* section {
  padding: 60px;
} */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.faq {
  /* padding: 120px 0 90px;
  background: #f7fbff; */
  min-height: 100%;
}

.faq .section-title {
  margin-bottom: 54px;
}

.faq .section-title h2 {
  margin-bottom: 22px;
}

.faq .accordion .card {
  border: none;
  margin-bottom: 30px;
}

.faq .accordion .card:not(:first-of-type) .card-header:first-child {
  border-radius: 10px;
}

.faq .accordion .card .card-header {
  border: none;
  border-radius: 10px;
  padding: 0;
}

.faq .accordion .card .card-header h5 {
  padding: 0;
}

.faq .accordion .card .card-header h5 button {
  color: #023118;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 0 30px 0 70px;
  height: 80px;
  display: block;
  width: 100%;
  /* color: rgba(30, 48, 86, 0.8); */
  text-align: left;
  background: #fff;
  -webkit-box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
  box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
  border-radius: 10px 10px 0 0;
  position: relative;
}

.faq .accordion .card .card-header h5 button:after {
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: #159c4a;
  text-align: center;
  border: 1px solid #159c4a;
  border-radius: 50%;
  line-height: 100%;
  content: "\f067";
  font-size: 10px;
  line-height: 18px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.faq .accordion .card .card-header h5 button.collapsed {
  background: #fff;
  /* border-radius: 10px; */
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(97, 125, 255, 0.2);
}

.faq .accordion .card .card-header h5 button[aria-expanded="true"]:after {
  content: "\f068";
  color: #fff;
  background: #159c4a;
}

.faq .accordion .card .card-body {
  -webkit-box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
  box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
  border-radius: 0 0 10px 10px;
  padding-top: 0;
  margin-top: -6px;
  padding-left: 72px;
  padding-right: 70px;
  padding-bottom: 23px;
  color: #5c6861;
  line-height: 30px;
}
