/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

/* .body-img {

} */

/* nav {
  width: 100%;
  height: 100px;
  position: fixed;
  position: absolute;
  top: 0px;
  top: 300px;
  left: 0;
  background: #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.pinNav nav {
  position: fixed;
  top: 0;
  margin-top: 0;
  background-color: pink;
}

.slim nav {
  transform: translateY(-60px);
} */

.landing-img {
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  padding: 0;
  /* background: #fff154; */
  width: 100%;
  position: absolute;
  top: 88%;
}

/* 
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
} */

#navbar {
  /* overflow: visible; */
  background-color: #fff;
}

.dropdown-item {
  color: #3a8339;
}
.dropdown-item:hover {
  color: #fff;
  background: #3a8339;
}

::-webkit-scrollbar {
  display: none;
}

/* #navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

/* #navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04aa6d;
  color: white;
} */

/* .content {
  padding: 16px;
} */

.sticky {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* #navbar {
  overflow: hidden;
  background-color: #ffff;
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */

/* .sticky + .content {
  padding-top: 60px;
} */

.navbar-collapse {
  justify-content: center;
}

.navbar-nav,
.nav-item {
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav,
.nav-link {
  color: #3a833d;
  font-size: 16px;
  font-weight: 600;
  padding-left: 70px;
}
.navbar-nav,
.nav-link:hover {
  color: #3a833d;
  font-size: 16px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #3a833d;
}

.enquiry {
  position: fixed;
  right: 19em;
  top: 28em;
  /* z-index: 10000; */
  background: #6bdd80;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #000;
  font-size: 16px;
}
.enquiry:hover {
  text-decoration: none;
  color: #000;
}

.home {
  position: fixed;
  right: 14em;
  top: 28em;
  /* z-index: 10000; */
  background: #6bdd80;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #000;
  font-size: 16px;
}

.home:hover {
  text-decoration: none;
  color: #000;
}

/* home page starts roll 2*/

.home-page {
  background-image: url(/images/Baggr_Work.jpg);
  background-size: 100% 100vh;
  /* width: 100%; */
  height: 100vh;
  font-family: "poppins";
}

/* home page ends */

/* tub roll 4 starts */
.left-img {
  width: 100%;
  height: 100vh;
}

.title {
  font-size: 50px;
  color: #fff;
  font-weight: 800;
}

.contentbox,
.section {
  background: linear-gradient(
    90deg,
    rgba(253, 154, 63, 1) 15%,
    rgba(213, 65, 1, 1) 100%
  );
}

.para {
  color: #fff;
  font-size: 16px;
  font-family: "poppins";
}

.content-tub {
  margin: 65px 0;
  padding: 25px;
  text-align: justify;
}

.contentlist {
  position: relative;
}

.list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: -80px;
  left: 70px;
  /* background: #e95902; */
  /* width: 100%; */
  font-family: "poppins";
}

.lists {
  padding: 10px 40px;
  background: #f4e7df;
  font-size: 16px;
  color: #af3c0d;
  font-weight: 500;
  font-family: "poppins";
  border-radius: 30px;
  /* padding: 50px; */
  /* background-color: green; */
  /* transition: transform 0.2s; */
  /* Animation */

  margin: auto 3px;
}
.lists:hover {
  /* padding: 0 40px; */
  text-decoration: none;
  background: #fadc30;
  color: #d54101;
  font-weight: 500;
  /* transform: scale(1.1); */
  font-size: 22px;
  transform: scale(1.2);
  font-size: 16px;
}

/* home page */
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 10%;
  margin: 0;
}

.nav-li {
  padding: 0rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding: 5px;
}
.list:hover {
  color: #3a833d;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.content {
  padding: 20px 40px;
  margin: 0 0px 0px 100px;
}

.Contact {
  background: #3a8339;
  border-radius: 60px;
  color: #fff;
  border: 2px solid #ffff00;
}

.contact-link {
  color: #fff;
}
.contact-link:hover {
  color: #fff;
}

.logo {
  width: 100%;
}

.title {
  color: #3a833d;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  text-align: left;
}
.para {
  text-align: justify;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.button-home {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-link {
  padding: 0.5rem 1rem;
  background: #6bdd80;
  border-radius: 60px;
  color: #fff;
  margin: 5px;
  border: 2px solid #ffff00;
  font-size: 16px;
  font-weight: 600;
}

.button-link:hover {
  text-decoration: none;
  background: #6bdd80;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
}

.arrow {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 50px solid #6bdd80;
  border-left: 66px solid transparent;
  right: -97.8%;
  top: -2px;
}

.fa-arrow-right {
  color: #fff;
}

.arrow-link {
  position: absolute;
  bottom: -48px;
  right: 5px;
  font-size: 20px;
  padding: 0px 5px;
  /* background: #4d1616; */
  border-radius: 15px 0px 0px 0px;
  color: #fff;
}

/* home ends */

/* Amenities start */

/* content */

.title-tub {
  color: #3a833d;
  font-size: 36px;
  font-family: "poppins";
  color: #fff;
  font-size: 90px;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.content {
  padding: 100px 40px;
  /* margin: 0 0px 0px 100px; */
}

.content-body {
  height: 65vh;
  position: relative;
}

.para {
  text-align: justify;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.para1 {
  text-align: justify;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #000;
}

.brand {
  color: #c12a05;
  font-size: 16px;
}
/* .gold {
  background-image: url(Splash.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: screen;
} */

.button-home {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-link {
  padding: 0.5rem 1rem;
  background: #6bdd80;
  border-radius: 60px;
  color: #fff;
  margin: 5px;
  border: 2px solid #ffff00;
  font-size: 16px;
  font-weight: 600;
}

.button-link:hover {
  text-decoration: none;
  background: #6bdd80;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
}
.shridi {
  color: #ffff00;
}

.arrow {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 50px solid #6bdd80;
  border-left: 66px solid transparent;
  right: -97.8%;
  top: -6.4px;
}

.fa-arrow-right {
  color: #fff;
}

.arrow-link {
  position: absolute;
  bottom: -48px;
  right: 5px;
  font-size: 20px;
  padding: 0px 5px;
  /* background: #4d1616; */
  border-radius: 15px 0px 0px 0px;
  color: #fff;
}

.bulding {
  width: 121vh;
  position: absolute;
  left: -99px;
  top: -135px;
  mix-blend-mode: multiply;
  height: 80vh;
}

.bulding1 {
  width: 105vh;
  position: absolute;
  left: -50px;
  top: -153px;
  mix-blend-mode: multiply;
}

.card {
  position: relative;
  border: none;
}

.amenities-img {
  width: 100%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.amenities-img1 {
  width: 100%;
  position: absolute;
  top: 45px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.amenities-img2 {
  width: 100%;

  position: absolute;
  top: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bodytitle {
  position: absolute;
  bottom: -70%;
  font-size: 18px;
}

.list-img {
  width: 15%;
  margin-left: 30px;
}

.list-line2 {
  font-size: 10px;
  text-align: justify;
}

.list {
  margin: 5px;
}

.list-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 300px;
}

.list-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fullcard {
  margin-left: -40px;
}

.content1 {
  padding: 20px;
  padding-top: 8%;
}

/* Amenities ends*/

.loan {
  background-image: url(/images/Baggr_Work.jpg);
  background-size: 100% 100vh;
  /* width: 100%; */
  height: 100vh;
  font-family: "poppins";
}

.total {
  visibility: hidden;
}

/* .loanbanner{
  width: 100%;
  height: 100vh;
  background-image: url(Loan_1.jpg);
  background-size: cover;
  background-position: center;
} */
.details input {
  width: 100%;
}

.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #4d7bac;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
  border: 5px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4c7cac;
  cursor: pointer;
  margin-top: -6px;
  -webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #194b86;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #4c7cac;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  border-radius: 10px;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 2px 2px 5px #b3b3b3, -1px -1px 3px grey;
  border: 5px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4c7cac;
  cursor: pointer;
  margin-top: -6px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #4d7bac;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  border-radius: 10px;
}

input[type="range"]::-ms-fill-lower {
  background: #4d7bac;
  border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
  background: #194b86;
  border-radius: 5px;
}

input[type="range"]::-ms-thumb {
  box-shadow: 2px 2px 5px grey, -1px -1px 3px grey;
  border: 5px solid #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4c7cac;
  cursor: pointer;
  margin-top: -6px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #4c7cac;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #194b86;
}
.bankoption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.banksinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.downpayment {
  width: 78%;
}
.loandetails {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 25px;
}
.tenureRange {
  width: 58% !important;
}
.interestRange {
  width: 58% !important;
}

.loan-heading {
  color: #0b1c4c;
  font-size: 24px;
  font-weight: 800;
}

.indicative {
  color: #1f4680;
  text-align: left;
  font-size: 22px;
}

#emi {
  color: #1f4680;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}

.btn-info {
  color: #fff;
  background-color: #1a4b83;
  font-size: 12px;
  padding: 10px;
}
.btn-info:hover {
  color: #fff;
  background-color: #1a4b83;
  font-size: 12px;
  padding: 10px;
}
/* page 5 mudra */

.whitefield {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 30px;
}
.mudra-img {
  width: 25%;
}

.number-send {
  width: 100%;
  margin: 0;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.view {
  background: #d1e3e3;
  padding: 58px;
  border-radius: 20px 0px 0px 20px;
}

.viewlink {
  color: #0f6459;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

.viewlink:hover {
  text-decoration: none;
}

.send {
  background: linear-gradient(
    90deg,
    rgba(0, 158, 160, 1) 19%,
    rgba(7, 132, 131, 1) 61%
  );
  padding: 30px;
  border-radius: 10px;
}

.send-no {
  width: 75%;
  border-radius: 30px;
  border: 3px solid #a3ef3e;
}

.send-btn {
  color: #3c9130;
  background: #a3ef3e;
  border: 1px solid #fff;
  font-size: 16px;
  padding: 10px;
  border-radius: 30px;
  width: 22%;
  font-weight: 600;
}

.whatsapp {
  width: 50px;
  height: 50px;
}

.bro {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.wh {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

/*  page 5 mudra ends */

/* map start  */

.multi-maps {
  background: rgb(10, 109, 78);
  background: linear-gradient(
    90deg,
    rgba(10, 109, 78, 1) 11%,
    rgba(6, 96, 61, 1) 41%
  );
}
.map-img {
  width: 56%;
}

.mapsinner1 {
  margin-top: 31%;
  background-color: #075335;
  padding: 15px;
  border-radius: 20px;
  margin-left: 15%;
}


.gallery-slider_wrapper {
  width: 100%;
  max-width: 768px;
  margin: auto;
}
.gallery-slider_wrapper .owl-theme .owl-nav {
  margin: 0;
}
.gallery-slider_wrapper .owl-theme .owl-nav [class*="owl-"] {
  width: 30px;
  height: 60px;
  /* background: #ffb808; */
  font-size: 20px;
  color: #000;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.gallery-slider_wrapper .owl-carousel .owl-nav .owl-prev:before,
.gallery-slider_wrapper .owl-carousel .owl-nav .owl-next:before {
  font-family: "LineAwesome";
  position: absolute;
  line-height: 60px;
  width: 30px;
  text-align: center;
  top: 0;
  left: 0;
}
.gallery-slider_wrapper .owl-carousel .owl-nav .owl-prev:before {
  content: "\f111";
  color: #e6fa39;
}
.gallery-slider_wrapper .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 0;
  left: -25px;
}
.gallery-slider_wrapper .owl-carousel .owl-nav .owl-next:before {
  content: "\f112";
  color: #e6fa39;
}
.gallery-slider_wrapper .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 0;
  right: -24px;
}
.gallery-slider_wrapper .owl-theme .owl-nav [class*="owl-"]:hover {
  background: #202020;
  color: #fff;
}
.gallery-slider_wrapper .single-gallery-carousel-thumbnail-box .item {
  position: relative;
  margin: 0 5px;
  height: 60px;
}
.gallery-slider_wrapper .single-gallery-carousel-thumbnail-box .item img {
  height: 100%;
  cursor: pointer;
  border: 2px solid #11a168;
}

.maps-heading{
  text-align: left;
}

.pic {
  padding: 0px 50px;
}
.mapsinner2 {
  margin-top: 15%;
  background: #fff;
  border-radius: 20px;
  margin-right: 10%;
  border: 2px solid #11a168;
}

.metro {
  color: #e6fa39;
  position: relative;
}
.metro::before {
  color: #e6fa39;
  position: absolute;
  content: "";
  top: 22px;
  left: 1px;
  right: 0;
  bottom: 30px;
  width: 35px;
  height: 2px;
  background-color: #e6fa39;
}
/*  map ends */
/*daynit  */
.daynitbtn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.daynit {
  background-image: url(/images/Day_1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-family: "poppins";
}
/* .dark-mode {
  background-image: url(/images/Day_Nigh.jpg);
  background-size: 100% 100vh;
 
  height: 100vh;
  font-family: "poppins";
} */
.toggle {
  position: relative;
  width: 100%;
  height: 200px;
}
.toggle_inner {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
}
/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} */
#toggle_checkbox {
  display: none;
}

label {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 116px;
  height: 56px;
  margin: 0 auto;
  background-color: #03a9f4;
  border-radius: 56px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s ease background-color;
  overflow: hidden;
}

#star {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 30px;
  height: 30px;
  background-color: yellow;
  transform: scale(1);
  border-radius: 50%;
  transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform,
    0.3s ease background-color;
  z-index: 1;
}

#star-1 {
  position: relative;
}

#star-2 {
  position: absolute;
  transform: rotateZ(36deg);
}

.star {
  top: 0;
  left: -7px;
  font-size: 54px;
  line-height: 28px;
  color: yellow;
  transition: 0.3s ease color;
}

#moon {
  position: absolute;
  bottom: -52px;
  right: 8px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease bottom;
}

#moon:before {
  content: "";
  position: absolute;
  top: -12px;
  left: -17px;
  width: 40px;
  height: 40px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label {
  background-color: #000;
}

#toggle_checkbox:checked + label #star {
  top: 3px;
  left: 64px;
  transform: scale(0.3);
  background-color: yellow;
}

#toggle_checkbox:checked + label .star {
  color: yellow;
}

#toggle_checkbox:checked + label #moon {
  bottom: 8px;
}

#toggle_checkbox:checked + label #moon:before {
  background-color: #000;
}

/* end daynit */
/* footer */
.footer {
  background-image: url(/images/footerimg.jpg);
  background-size: cover;
  width: 100%;
  height: 50vh;
}
.footermain {
  position: relative;
  width: 100%;
  height: 100%;
}
.addresscard1 {
  position: absolute;
  top: 220px;
  left: 301px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  height: 200px;
  background-color: #0b1c4c;
}
.addresscard2 {
  position: absolute;
  top: 220px;
  right: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  height: 200px;
  background-color: #0b1c4c;
  scale: 1.3;
}
.addresscard3 {
  position: absolute;
  top: 220px;
  right: 313px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  height: 200px;
  background-color: #0b1c4c;
}
.footerinner2 {
  background: #001743;
  background-size: cover;
  width: 100%;
  height: 50vh;
}
/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

.addresstext {
  padding: 2px 16px;
}

/* end footer */
